<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie add</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <h1>Movie add</h1>
    <form action="/movies/add" method="post">
        <input type="text" name="name" placeholder="Add movie name" class="form-control"><br>
        <input type="text" name="genre" placeholder="Add movie genre" class="form-control"><br>
        <input type="text" name="premiere" placeholder="Add movie premiere" class="form-control"><br>
        <input type="text" name="director" placeholder="Add movie director" class="form-control"><br>
        <input type="text" name="img" placeholder="Add movie preview image" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add movie</button>
    </form>
</div>
</body>
</html>
